In [ ]:
Objectives
Summarize the key characteristics of a dataset.
Identify different data types commonly used in data analysis.

In [3]:
!pip install pandas
import pandas as pd
print(pd.__version__)

Requirement already satisfied: pandas in c:\users\nguif\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nguif\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
2.2.3

In [10]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

In [11]:
import requests

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
# Download the webpage
response = requests.get(url)

# Check if download was successful
if response.status_code == 200:
    html_content = response.text
    print("Download successful.")
else:
    print("Failed to download page:", response.status_code)

Download successful.

In [12]:
import requests

file_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Download the file
response = requests.get(file_url)

# Save to local file
with open("survey_data.csv", "wb") as f:
    f.write(response.content)

print("File downloaded and saved as survey_data.csv")

File downloaded and saved as survey_data.csv

In [13]:
file_name="survey_data.csv"

In [15]:
df = pd.read_csv(file_name)

In [16]:
#Display the top 5 rows and columns from your dataset.
df. head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [17]:
# Print number of columns
len(df.columns)

114

In [19]:
#Print the datatype of all columns
print(df.dtypes)

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

In [24]:
# Print the mean age of the survey participants.

# Checking the data type first
print(df["Age"].dtypes)

object

In [29]:
# Safely converting Age column to numeric
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

In [26]:
# Now computing the mean age
mean_age = df["Age"].mean()
print("Mean age of survey participants:", mean_age)

Mean age of survey participants: nan

In [ ]:
#because age is in range and has strings results above is NAN

In [30]:
# The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.
# Print number of unique countries
num_unique_countries = df["Country"].nunique()
print("Number of unique countries in the dataset:", num_unique_countries)

Number of unique countries in the dataset: 185