In [ ]:
Removing Duplicates

Objectives:
Identify duplicate rows in the dataset.
Use suitable techniques to remove duplicate rows and verify the removal.
Summarize how to handle missing values appropriately.
Use ConvertedCompYearly to normalize compensation data.

In [4]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\nguif\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nguif\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

In [ ]:
Step 4: Removing Duplicate Rows
Task 2: Remove Duplicates

Remove duplicate rows from the dataset using the drop_duplicates() function.
Verify the removal by counting the number of duplicate rows after removal .

In [8]:

# Check the number of duplicate rows BEFORE removal
num_duplicates_before = df.duplicated().sum()
print(f"Number of duplicate rows before removal: {num_duplicates_before}")

Number of duplicate rows before removal: 0

In [9]:
#  Remove duplicate rows
df_cleaned = df.drop_duplicates()

In [10]:
# : Check the number of duplicate rows AFTER removal
num_duplicates_after = df_cleaned.duplicated().sum()
print(f"Number of duplicate rows after removal: {num_duplicates_after}")

Number of duplicate rows after removal: 0

In [11]:
#  Check the shape of the DataFrame before and after to confirm row count change
print(f"Original number of rows: {df.shape[0]}")
print(f"Number of rows after duplicate removal: {df_cleaned.shape[0]}")

Original number of rows: 65437
Number of rows after duplicate removal: 65437

In [ ]:
Step 5: Handling Missing Values
Task 3: Identify and Handle Missing Values

Identify missing values for all columns in the dataset.
Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [12]:
#  Identify missing values for all columns
missing_values = df_cleaned.isnull().sum()
print("Missing values per column:\n")
print(missing_values)

Missing values per column:

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

In [13]:
# Choose a column with significant missing values (example: 'EdLevel')
# Let's check how many missing values it has:
print(f"\nMissing values in 'EdLevel' column: {df_cleaned['EdLevel'].isnull().sum()}")

Missing values in 'EdLevel' column: 4653

In [14]:
#  Impute missing values in 'EdLevel' with the most frequent value (mode)
most_frequent_value = df_cleaned['EdLevel'].mode()[0]
print(f"\nMost frequent value in 'EdLevel': {most_frequent_value}")

Most frequent value in 'EdLevel': Bachelor’s degree (B.A., B.S., B.Eng., etc.)

In [16]:
# Perform the imputation
df_cleaned['EdLevel'] = df_cleaned['EdLevel'].fillna(most_frequent_value)

In [17]:
# Verify that there are no missing values left in 'EdLevel'
print(f"\nMissing values in 'EdLevel' after imputation: {df_cleaned['EdLevel'].isnull().sum()}")

Missing values in 'EdLevel' after imputation: 0

In [ ]:
Step 6: Normalizing Compensation Data
Task 4: Normalize Compensation Data Using ConvertedCompYearly

Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
Check for missing values in ConvertedCompYearly and handle them if necessary.

In [18]:
# Check for missing values in ConvertedCompYearly
missing_converted_comp = df_cleaned['ConvertedCompYearly'].isnull().sum()
print(f"Missing values in 'ConvertedCompYearly': {missing_converted_comp}")

Missing values in 'ConvertedCompYearly': 42002

In [19]:
# Calculate the median of ConvertedCompYearly
median_converted_comp = df_cleaned['ConvertedCompYearly'].median()
print(f"Median of 'ConvertedCompYearly': {median_converted_comp}")

# Fill missing values with the median (assign the result back)
df_cleaned['ConvertedCompYearly'] = df_cleaned['ConvertedCompYearly'].fillna(median_converted_comp)

# Verify that there are no missing values now
missing_converted_comp_after = df_cleaned['ConvertedCompYearly'].isnull().sum()
print(f"Missing values in 'ConvertedCompYearly' after imputation: {missing_converted_comp_after}")

Median of 'ConvertedCompYearly': 65000.0
Missing values in 'ConvertedCompYearly' after imputation: 0

In [ ]:
Step 7: Summary and Next Steps
In this lab, you focused on identifying and removing duplicate rows.

You handled missing values by imputing the most frequent value in a chosen column.

You used ConvertedCompYearly for compensation normalization and handled missing values.

For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [24]:
# Separate categorical and numerical columns
categorical_cols = df_cleaned.select_dtypes(include=['object']).columns
numerical_cols = df_cleaned.select_dtypes(include=['float64', 'int64']).columns

# Impute categorical columns with the mode
for col in categorical_cols:
    if df_cleaned[col].isnull().sum() > 0:
        mode_value = df_cleaned[col].mode()[0]
        df_cleaned[col] = df_cleaned[col].fillna(mode_value)
        print(f"Filled missing values in categorical column '{col}' with mode: {mode_value}")

# Impute numerical columns with the median
for col in numerical_cols:
    if df_cleaned[col].isnull().sum() > 0:
        median_value = df_cleaned[col].median()
        df_cleaned[col] = df_cleaned[col].fillna(mode_value)
        print(f"Filled missing values in numerical column '{col}' with median: {median_value}")

# Verify there are no more missing values
total_missing_after = df_cleaned.isnull().sum().sum()
print(f"\nTotal missing values remaining in dataset after imputation: {total_missing_after}")

Total missing values remaining in dataset after imputation: 0

In [26]:
# Save the fully cleaned dataset to a CSV file
# Define the full save path
output_file = r"C:\Users\nguif\Desktop\N Power\Capstone Project\survey_data_with_duplicate.csv"

# Save the DataFrame to CSV
df_cleaned.to_csv(output_file, index=False)

print(f"Cleaned dataset saved to: {output_file}")

Cleaned dataset saved to: C:\Users\nguif\Desktop\N Power\Capstone Project\survey_data_with_duplicate.csv