In [ ]:
Data Wrangling

Objectives:

Identify and remove inconsistent data entries.

Encode categorical variables for analysis.

Handle missing values using multiple imputation strategies.

Apply feature scaling and transformation techniques.

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\nguif\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nguif\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nguif\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\nguif\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nguif\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\nguif\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [ ]:
Load the Dataset

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

In [ ]:
2. Explore the Dataset
2.1 Summarize the dataset by displaying the column data types, counts, and missing values.

In [ ]:
# Load dataset
df = pd.read_csv(dataset_url)

# Step 2: Display column data types and non-null counts
print("Basic Information (data types and non-null counts):\n")
df.info()

# Step 3: Display missing values per column
missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0]  # Show only columns with missing values

print("\nMissing Values per Column:\n")
print(missing_values)

In [ ]:
2.2 Generate basic statistics for numerical columns

In [5]:
# Generate basic statistics for numerical columns
print("Basic Statistics for Numerical Columns:\n")
print(df.describe())

Basic Statistics for Numerical Columns:

         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

In [ ]:
3. Identifying and Removing Inconsistencies
3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).

In [6]:
# Step 1: Check unique values in 'Country' column
unique_countries = df['Country'].unique()

# Step 2: Display the unique values (first 50 for readability)
print("Unique values in 'Country':\n")
print(unique_countries[:50])  # show first 50 values for a quick scan

# Step 3: Optional — check how many unique values
print(f"\nNumber of unique values in 'Country': {df['Country'].nunique()}")

Unique values in 'Country':

['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa']

Number of unique values in 'Country': 185

In [ ]:
3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.

In [ ]:
Standardize Country

In [7]:
# Step 1: Define mapping for known inconsistencies
country_mapping = {
    'USA': 'United States',
    'US': 'United States',
    'U.S.': 'United States',
    'United States of America': 'United States',
    'UK': 'United Kingdom',
    'U.K.': 'United Kingdom',
    'England': 'United Kingdom',
    'Scotland': 'United Kingdom',
    'Deutschland': 'Germany',
    'España': 'Spain',
    'N/A': None,
    'Earth': None,
    '123': None,
    '': None
}

# Step 2: Apply mapping to 'Country' column
df['Country'] = df['Country'].replace(country_mapping)

# Optional: Strip whitespace and capitalize consistently
df['Country'] = df['Country'].str.strip().str.title()

# Step 3: Verify result
print("\nUnique values in 'Country' after standardization:\n")
print(df['Country'].unique())

Unique values in 'Country' after standardization:

['United States' 'United Kingdom Of Great Britain And Northern Ireland'
 'Canada' 'Norway' 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria'
 'Switzerland' 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia'
 'Brazil' 'Japan' 'Austria' 'Iran, Islamic Republic Of...' 'France'
 'Saudi Arabia' 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden'
 'Netherlands' 'Croatia' 'Pakistan' 'Czech Republic'
 'Republic Of North Macedonia' 'Finland' 'Slovakia' 'Russian Federation'
 'Greece' 'Israel' 'Belgium' 'Mexico' 'United Republic Of Tanzania'
 'Hungary' 'Argentina' 'Portugal' 'Sri Lanka' 'Latvia' 'China' 'Singapore'
 'Lebanon' 'Spain' 'South Africa' 'Lithuania' 'Viet Nam'
 'Dominican Republic' 'Indonesia' 'Kosovo' 'Morocco' 'Taiwan' 'Georgia'
 'San Marino' 'Tunisia' 'Bangladesh' 'Nigeria' 'Liechtenstein' 'Denmark'
 'Ecuador' 'Malaysia' 'Albania' 'Azerbaijan' 'Chile' 'Ghana' 'Peru'
 'Bolivia' 'Egypt' 'Luxembourg' 'Montenegro' 'Cyprus' 'Paraguay'
 'Kazakhstan' 'Slovenia' 'Jordan' 'Venezuela, Bolivarian Republic Of...'
 'Costa Rica' 'Jamaica' 'Thailand' 'Nicaragua' 'Myanmar'
 'Republic Of Korea' 'Rwanda' 'Bosnia And Herzegovina' 'Benin'
 'El Salvador' 'Zimbabwe' 'Afghanistan' 'Estonia' 'Malta' 'Uruguay'
 'Belarus' 'Colombia' 'Republic Of Moldova' 'Isle Of Man' 'Nomadic'
 'New Zealand' 'Palestine' 'Armenia' 'United Arab Emirates' 'Maldives'
 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda' 'Turkmenistan' 'Mauritius' 'Kenya'
 'Cuba' 'Gabon' 'Bahamas' 'South Korea' 'Iceland' 'Honduras'
 'Hong Kong (S.A.R.)' "Lao People'S Democratic Republic" 'Mongolia'
 'Cambodia' 'Madagascar' 'Angola' 'Democratic Republic Of The Congo'
 'Syrian Arab Republic' 'Iraq' 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia'
 'Swaziland' "Côte D'Ivoire" 'Kuwait' 'Tajikistan' 'Burundi'
 'Trinidad And Tobago' 'Mauritania' 'Sierra Leone' 'Panama' 'Somalia'
 'North Korea' 'Dominica' 'Guyana' 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People'S Republic Of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic Of The...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua And Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts And Nevis' 'Monaco' 'Micronesia, Federated States Of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

In [ ]:
Standardize EdLevel

In [8]:
# Step 1: Define mapping for EdLevel inconsistencies
edlevel_mapping = {
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor’s degree',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master’s degree',
    'Some college/university study without earning a degree': 'Some college',
    'Associate degree (A.A., A.S., etc.)': 'Associate degree',
    'Professional degree (JD, MD, etc.)': 'Professional degree',
    'N/A': None,
    '': None
}

# Step 2: Apply mapping to 'EdLevel' column
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Step 3: Verify result
print("\nUnique values in 'EdLevel' after standardization:\n")
print(df['EdLevel'].unique())

Unique values in 'EdLevel' after standardization:

['Primary/elementary school' 'Bachelor’s degree' 'Master’s degree'
 'Some college'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)' 'Associate degree'
 'Something else' nan]

In [ ]:

4. Encoding Categorical Variables

4.1 Encode the Employment column using one-hot encoding.

In [9]:
# Step 1: One-hot encode the 'Employment' column
employment_encoded = pd.get_dummies(df['Employment'], prefix='Employment')

# Step 2: Show the first few rows of the encoded columns
print("\nOne-hot encoded 'Employment' columns:\n")
print(employment_encoded.head())

One-hot encoded 'Employment' columns:

   Employment_Employed, full-time  \
0                            True
1                            True
2                            True
3                           False
4                           False

   Employment_Employed, full-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Retired  \
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False

   Employment_Student, full-time;Student, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

   Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time  \
0                          False
1                          False
2                          False
3                          False
4                          False

   Employment_Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time;Retired
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False

[5 rows x 110 columns]

In [ ]:
5. Handling Missing Values
5.1 Identify columns with the highest number of missing values.

In [10]:
# Step 1: Count missing values per column
missing_values = df.isnull().sum()

# Step 2: Filter columns with at least 1 missing value
missing_values = missing_values[missing_values > 0]

# Step 3: Sort columns by number of missing values (descending order)
missing_values = missing_values.sort_values(ascending=False)

# Step 4: Display the result
print("\nColumns with the highest number of missing values:\n")
print(missing_values)

Columns with the highest number of missing values:

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
YearsCode                      5568
NEWSOSites                     5151
LearnCode                      4949
EdLevel                        4653
AISelect                       4530
Length: 109, dtype: int64

In [ ]:
5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.

In [13]:
# Step 1: Calculate median of ConvertedCompYearly
median_converted_comp = df['ConvertedCompYearly'].median()

print(f"Median of ConvertedCompYearly: {median_converted_comp}")

# Step 2: Impute missing values with the median
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(median_converted_comp)

# Step 3: Verify result
missing_after = df['ConvertedCompYearly'].isnull().sum()
print(f"Missing values in ConvertedCompYearly after imputation: {missing_after}")

Median of ConvertedCompYearly: 65000.0
Missing values in ConvertedCompYearly after imputation: 0

In [ ]:
5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.

In [15]:
# Step 1: Find the most frequent value (mode)
mode_remote_work = df['RemoteWork'].mode()[0]

print(f"Most frequent value in 'RemoteWork': {mode_remote_work}")

# Step 2: Impute missing values with the mode
df['RemoteWork'] = df['RemoteWork'].fillna(mode_remote_work)

# Step 3: Verify result
missing_after = df['RemoteWork'].isnull().sum()
print(f"Missing values in 'RemoteWork' after imputation: {missing_after}")

Most frequent value in 'RemoteWork': Hybrid (some remote, some in-person)
Missing values in 'RemoteWork' after imputation: 0

In [ ]:
6. Feature Scaling and Transformation
6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.

In [16]:
from sklearn.preprocessing import MinMaxScaler

# Step 1: Create the scaler
scaler = MinMaxScaler()

# Step 2: Apply Min-Max Scaling
df['ConvertedCompYearly_Scaled'] = scaler.fit_transform(df[['ConvertedCompYearly']])

# Step 3: Verify result
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Scaled']].head())

   ConvertedCompYearly  ConvertedCompYearly_Scaled
0              65000.0                    0.003998
1              65000.0                    0.003998
2              65000.0                    0.003998
3              65000.0                    0.003998
4              65000.0                    0.003998

In [ ]:
6.2 Log-transform the ConvertedCompYearly column to reduce skewness.

In [17]:
import numpy as np

# Step 1: Apply log1p transformation (safe for zero values)
df['ConvertedCompYearly_Log'] = np.log1p(df['ConvertedCompYearly'])

# Step 2: Verify result
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

   ConvertedCompYearly  ConvertedCompYearly_Log
0              65000.0                11.082158
1              65000.0                11.082158
2              65000.0                11.082158
3              65000.0                11.082158
4              65000.0                11.082158

In [ ]:
7. Feature Engineering
7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:

In [18]:
def categorize_experience(years):
    try:
        years = float(years)
    except:
        # Handle non-numeric or missing values
        return 'Unknown'

    if years <= 1:
        return 'Beginner'
    elif years <= 3:
        return 'Intermediate'
    elif years <= 7:
        return 'Advanced'
    elif years > 7:
        return 'Expert'
    else:
        return 'Unknown'

# Apply function to create new column
df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

# Show counts per category
print(df['ExperienceLevel'].value_counts())

ExperienceLevel
Expert          25703
Unknown         16733
Advanced        12101
Intermediate     8261
Beginner         2639
Name: count, dtype: int64